<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="
     http://www.springframework.org/schema/context
     http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/beans
     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/util
     http://www.springframework.org/schema/util/spring-util-3.0.xsd
     http://www.springframework.org/schema/aop
     http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
     http://www.springframework.org/schema/tx
     http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/rabbit
     http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd">


    <!-- RabbitMQ start -->

    <!-- 连接配置 -->
    <rabbit:connection-factory id="connectionFactory" host="#{appConfig['mq.host']}" username="#{appConfig['mq.username']}"
                               password="#{appConfig['mq.password']}" port="#{appConfig['mq.port']}"  virtual-host="#{appConfig['mq.vhost']}"/>

    <!-- queue 队列声明 -->
    <!--
        durable 是否持久化
        exclusive 仅创建者可以使用的私有队列，断开后自动删除
        auto-delete 当所有消费端连接断开后，是否自动删除队列 -->
    <rabbit:queue id="test_queue" name="#{appConfig['mq.queue']}_testQueue" durable="true" auto-delete="false" exclusive="false" />
    <rabbit:queue id="liudhQueue" name="liudhQueue" durable="true" auto-delete="false" exclusive="false" />

    <bean name="rabbitmqService" class="com.enh.mq.service.RabbitmqService"></bean>
    <!-- 配置监听 消费者 -->
    <rabbit:listener-container connection-factory="connectionFactory" acknowledge="auto">
        <!--
            queues 监听队列，多个用逗号分隔
            ref 监听器 -->
        <rabbit:listener queues="test_queue" ref="rabbitmqService"/>
        <rabbit:listener queues="liudhQueue" ref="rabbitmqService"/>
    </rabbit:listener-container>
</beans>